.rules-outer-container{
    height: 40rem;
    width: 94rem;
    display: flex;
    justify-content: center;
}
.rules-conainer{
    height: 26rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    margin-top:4rem;
    border-radius: 0.5rem;
    background: var(--football-bg-color);
}
.paragraph-div{
    height: 17rem;
    width: 23rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white-color); 
}
.play-now-btn{
    padding: 0.8rem;
    background-color:var(--white-color);
    color: var(--black-color);
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    margin-left: -17rem;
    margin-top: 31rem;
    cursor: pointer;
}
