.outer-Login-container{
    height: 30rem;
    width:100%;
    margin: -37 0 12rem;
    background-color:var(--dark-black-color) ;
    display: flex;
    justify-content: center;
}
.login-outer-container{
    height: 23rem;
    width: 23rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 2px var(--dark-gray-color);
    border: 1px solid gainsboro;
}
.login-content-container{
    height: 23rem;
    width: 21rem;
    color:var(--white-color); 
}
.user-input{
    height: 2rem;
    width: 20rem;
    margin-left: 0.3rem;
    border: 1px solid var(--gray-color);
}
.create-account{
    text-align: center;
    margin-top: 1rem;
    color:var(--white-color);
}
.Login-heading-two{
    text-align: center;
    color:var(--white-color);
    
}
/* .fa-angle-right{
    color:var(--white-color);
    margin:-1.2rem 2rem;
} */
.videologin-btn{
    padding: 0.7rem 9rem;
    background-color: var(--red-color);
    border: transparent;
    border-radius: 0.2rem;
    color: var(--white-color);
    font-weight: 900;
    margin:0.5rem 0 0 0.5rem ;
}
.forgotPasswodText{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    height: 2rem;
}
.lebel-text{
    display: flex;
    justify-content: flex-start;
    margin: 0.7rem ;
    font-size: 1.2rem;
    /* border: 1px solid red; */
}

.remember-me{
    margin: 2px 0 0 -4rem;
    font-size: 1.1rem;
    
}
.forgotPassword{
    color:var(--blue-color);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    top:-1rem;
    left: -0.5rem;
    /* border: 1px solid red; */
}
.createAccount{
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    top:-0.1rem;
    color:var(--white-color);
}
