
.signup-container{
    height: 34rem;
    width: 23rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 2px gray;
}
.fa-angle-right{
    color:var(--white-color);
} 
.signUp-lebel{
    color:  var(--white-color);
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0.1rem; 
}
.signUp-heading{
    color:  var(--white-color);
    text-align: center;
}
.sign-input{
    width: 17rem;
    height: 1.3rem;
}
.terms-and-condition{
    color: var(--white-color);
}
.termsandConditions-div{
    margin: 0.8rem 0 0 -0.2rem;
}
.sign-btn{
    padding: 0.5rem 7.3rem;
    border: transparent;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: 900;
    cursor: pointer;

}
.sign-btn:disabled{
    background-color: gray ;
    color: black ;
}
.alreadyHaveAccount{
    color: var(--white-color);
    font-size: 0.9rem;
}
.login-here{
    text-decoration: none;
    color: var(--blue-color);
    margin-left: 1rem;
}
.errorMsg{
    font-weight: bold;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--red-color);
    position: relative;
    top: 0.4rem;
}
.sign_passwordIcon{
    margin: -2.8rem 0 0 15rem;
    color: var(--black-color);
}