.result-outer-container {
    height: 37rem;
    width: 81rem;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.result-content-container {
    height: 115rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    box-shadow: 1px 1px 5px 1px var(--gainsboro-color);
    border-radius: 1rem;

}

.result-inner-div {
    height: 5.5rem;
    width: 30rem;
    margin-top: 0.5rem;
    color: var(--white-color);
}

.resultOptions {
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-weight: bold;
    background-color: var(--gainsboro-color);
}

.correct_option {
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--black-color);
    font-weight: bold;
    background-color: var(--green-color);
}

.wrong_option {
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--black-color);
    font-weight: bold;
    background-color: var(--red-color);
}

.result-Question-container {
    height: 110rem;
    width: 31rem;
    text-align: center;
}

.wishes {
    height: 12rem;
    width: 26rem;
    margin-top: -95rem;
    margin-left: 37rem;
    box-shadow: 1px 1px 5px 1px var(--gainsboro-color);

}

.result-options {
    position: relative;
    right: -0.5rem;
    height: 15rem;
    width: 30rem;
    text-align: center;
}
.quetionAndAnswerDiv{
    margin-top: 6rem;
}