@media screen and (max-width: 425px) {
  html {
    font-size: 62.5%;
  }

  

  .outer-div {
    height: 33rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    color: var(--white-color);
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 3px var(--gainsboro-color);

  }

  .each_option {
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 900;
    color: var(--dark-red);
    border: 1px solid var(--gainsboro-color);
  }

}

.question-section {
  height: 80rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  overflow-x: hidden;
}

.outer-div {
  height: 33rem;
  width: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 1px 1px 4px 3px var(--gainsboro-color);

}

.inner-div {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 30rem;
}

.Question-container {
  height: 10rem;
  width: 50rem;
  text-align: center;
}

.btn {
  padding: 1rem;
  width: 7rem;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 900;
}

.viewScorebtn {
  padding: 0.8rem 1.4rem;
  background-color: var(--white-color);
  text-align: start;
  color: var(--black-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 900;
}

span {
  margin-left: 25rem;
}

.angleRight {
  color: var(--dark-red);
  position: absolute;
}

.selectedOption {
  background-color: var(--gainsboro-color);
}

.each_option:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: var(--gainsboro-color);
}

.each_option {
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  color: var(--dark-red);
  border: 1px solid var(--gainsboro-color);
}