/* css for home page */
.outer-container {
  height: 35.8rem;
  width: 94rem;
  overflow-y: scroll;
}
body {
  display: flex;
  justify-content: center;
}
.headings {
  text-align: center;
  margin-top: 3rem;
}
.quizHeading-one {
  color: var(--white-color);
}
.quizHeadingTwo {
  color: var(--white-color);
}
.first-section {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}
